body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Playwrite FR Moderne", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  background-image: url(vecteezy_abstract-background-design-background-texture-design-with_18752867-1.jpg);
  background-repeat: none;
  display: flex;
  background-size: cover;
  object-fit: cover;
}

a {
  color: #ced4db;
}
.weather_app {
  background: rgb(200, 200, 201), opacity 0.7;
  max-width: 800px;
  margin: 30px auto;
  padding: 50px;
  border-radius: 15px;

  box-shadow: rgba(43, 33, 66, 0.09) 0px 70px 70px 0px;
  backdrop-filter: blur(7px);
}

header {
  border-bottom: 1px solid #c8cfd6;
  padding: 0 0 40px 0;
}

.search-form-input {
  background-color: #dbdbdb;
  border: none;
  border-radius: 4px 15px;
  width: 80%;
  padding: 12px 15px;
  font-size: 16px;
}

.search-form-button {
  background-color: #b2bdc8;
  border: none;
  border-radius: 4px 12px;
  padding: 12px 15px;
  font-size: 16px;
  color: whitesmoke;
  transition: transform 0.3s;
}
.search-form-button:hover {
  animation: bubble 0.4s ease-out;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.weather-app-city {
  font-weight: bold;
  margin: auto;
  font-size: 55px;
  line-height: 75px;
  font-family: "Cherry Bomb One", system-ui;
  color: #08437a;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
footer {
  border-top: 1px solid #ffffff;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 10px;
  opacity: 0.7;
  font-style: italic;
}

main {
  padding: 30px 0;
}

.weather-app-details {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: bold;
  color: #a0bbd6;
  line-height: 20px;
  font-size: 18px;
}

.weather-app-details strong {
  color: #08437a;

  font-weight: 300;
}
.weather-app-temp-container {
  display: flex;
}

.weather-app-temp {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  color: #08437a;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
  color: #087a75;
  width: 88px;
  height: 88px;
}

.weather-app-unit {
  margin-top: 18px;
  font-size: 40px;
  color: #08437a;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  text-align: center;
  color: #a0bbd6;
  font-size: 16px;
  line-height: 20px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #a0bbd6;
  font-style: bold;
  display: flex;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
